.form {
  @media (min-width: 1024px) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.formItem {
  label {
    margin: 1rem 0;
    color: var(--black);
    font-weight: 700;
    width: 100%;
    text-align: left;
  }
}

.input {
  border-radius: var(--border-radius);
  border: solid 2px var(--green-soft);
  padding: 0.9rem 1rem;
  flex-grow: 1;
  width: 100%;
  background: transparent;
  [type='date'] {
    -webkit-appearance: none;
  }
  &::-webkit-date-and-time-value {
    height: 1.5rem;
  }
}

.textarea {
  border-radius: var(--border-radius);
  border: solid 2px var(--green-soft);
  padding: 1.5rem;
  flex-grow: 1;
  width: 100%;
}

.textareaLabel {
  align-self: flex-start;
  padding-top: 0.5rem;
}

.select {
  border-radius: var(--border-radius);
  border: solid 2px var(--green-soft);
  padding: 0.5rem;
  flex-grow: 1;
  width: 100%;
}

form .multipleLabel {
  font-weight: normal;
  padding-left: 0.5rem;
  text-align: left;
  display: inline;
}

form .multipleItem {
  display: flex;
  padding-bottom: 1rem;
  label {
    padding: 0;
    margin: 0;
  }
  input {
    margin: 0.7rem 0.7rem 0 0;
  }
}

.multipleCheckbox {
  padding-top: 1.5rem;
}

.button {
  margin-top: 1.5rem;
}
