.form {
  @media (min-width: 1024px) {
    padding-top: 2rem;
    max-width: 80%;
    margin: 0 auto;
  }
}

.formItem {
  @media (min-width: 1024px) {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  label {
    margin: 1rem 0.5rem;
    color: var(--black);
    font-weight: 700;
    width: 100%;
    text-align: left;

    @media (min-width: 1024px) {
      text-align: right;
      margin: 0 1rem 0 0;
      width: 200px;
    }
  }
}

.input {
  border-radius: 16px;
  border: solid 2px var(--green-soft);
  padding: 0.9rem 1rem;
  flex-grow: 1;
  width: 100%;

  @media (min-width: 1024px) {
    width: unset;
  }
}

.textarea {
  border-radius: 16px;
  border: solid 2px var(--green-soft);
  padding: 1.5rem;
  flex-grow: 1;
  width: 100%;

  @media (min-width: 1024px) {
    width: unset;
  }
}

.button {
  margin-top: 1.5rem;
  @media (min-width: 1024px) {
    margin-top: 0rem;
    margin-left: 220px;
  }
}
