// Global

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

:root {
  --green: #0e874e;
  --green-soft: #2ecc40;
  --blue: #2c3694;
  --yellow: #efce25;
  --red: #ed1f24;
  --black: #18191f;
  --white: white;
  --fade: rgba(0, 0, 0, 0.5);
  --grey: rgba(0, 0, 0, 0.7);
  --grey-light: rgba(0, 0, 0, 0.1);
  --grey-soft: #666;
  --shadow: 10px 40px 50px rgba(0, 0, 0, 0.5);
  --main-font: 'Mulish', sans-serif;
  --secondary-font: 'Mulish', sans-serif;
  --boder-radius: 8px;
}

body {
  font-family: var(--main-font);

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

a:hover {
  transition: all 0.3s ease-in-out !important;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.skip-link {
  position: absolute;
  top: -140px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

//
// Buttons
//

.btn {
  font-weight: 700;
  border-width: 2px;
  border-radius: 55px;
  border-color: transparent;
  padding: 0.5rem 2rem;
  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 1;
    padding: 1rem 2.5rem;
  }
}

.btn-primary {
  background: var(--green);
  border-color: var(--green);
  color: var(--white);
  &:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
  }
}

.btn-secondary {
  background: var(--white);
  border-color: var(--green);
  color: var(--green);
  &:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
  }
}

//
// Typography
//

h1 {
  font-size: 2rem;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

//
// Utils
//

.rounded {
  border-radius: var(--boder-radius) !important;
}
