// Global

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --green: green;
  --blue: blue;
  --yellow: yellow;
  --red: red;
  --black: black;
  --white: white;
  --fade: rgba(0, 0, 0, 0.5);
  --grey: rgba(0, 0, 0, 0.7);
  --grey-light: rgba(0, 0, 0, 0.1);
  --grey-soft: #666;
  --shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.1);
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--main-font);
  margin-top: 130px;
}

a:hover {
  transition: all 0.3s ease-in-out !important;
}

img {
  max-width: 100%;
  height: auto;
}

.bottomLine {
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: bold;
  z-index: 1;

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0.5rem;
    width: 150px;
    background-color: var(--yellow);
    z-index: 0;
  }
}

// Bootstrap overrides
.navbar-light .navbar-nav .dropdown-toggle.nav-link {
  color: var(--black) !important;
}

.navbar-toggler-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dropdown-menu {
  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    border: none !important;
  }
}
