$spacing: 1rem;

.iframeContainer {
  width: 100%;
  position: relative;
  height: 0px;
}

.iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.iframeWithCaption {
  margin-bottom: ($spacing * 2)+ 4rem;
}
.video {
  padding-top: 56.25%;
}

.audio {
  padding-top: 16.25%;
}

.twitter {
  margin: 0 auto;
  border: solid 1px var(--grey-light);
  border-radius: var(--border-radius);
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 50%;
  }
}

.caption {
  background-color: var(--grey-light);
  padding: $spacing;
  text-align: center;
}
