.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  display: block;
  position: relative;
  // margin: 1rem;
}

.cardBody {
  display: none;

  &::hover {
    display: block;
  }
}
