.heroTitle {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    text-align: left;
  }
  &::after {
    display: none;
  }
}

.heroDescription {
  font-weight: 200;
  color: var(--grey);
  padding: 1rem 0;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 1.5rem 0;
  }
}

.contentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;

  @media (min-width: 1024px) {
    text-align: left;
    padding-bottom: 0rem;
  }
}

.imageContainer {
  position: relative;
  height: 100%;
  display: flex;
}

.heroImage--rounded {
  justify-content: center;

  & > div {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
  }

  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}
