.footer {
  @media (min-width: 1023px) {
    position: relative;
  }
}
.footerNav {
  width: 100%;
  background: var(--green);
  text-align: center;
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-bottom: 1rem;

  @media (min-width: 1023px) {
    padding: 1rem;
    width: unset;
    margin-bottom: 0;
  }

  a {
    color: white;
    line-height: 0;
    font-weight: 200;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul.menuNav {
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: 1023px) {
    flex-direction: row;
  }

  li {
    display: inline-flex;
  }
}

ul li.footerLogo {
  margin-left: auto;
  margin-bottom: 1rem;

  @media (min-width: 1023px) {
    display: inline-flex;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: auto;
  }
}

ul li.menuLink {
  padding: 1.5rem 1rem 0.3rem 1rem;
  margin-bottom: 0.5rem;
  position: relative;

  @media (min-width: 1023px) {
    padding: 1rem;
    margin: 0;
  }
}

.copyright {
  background-color: var(--grey-soft);
  border-radius: var(--border-radius);

  @media (min-width: 1023px) {
    background-color: unset;
  }
}

.copyrightMenu {
  text-transform: lowercase;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  margin: 1rem;

  @media (min-width: 1023px) {
    color: var(--grey-soft);
    margin: 0;
  }
}

.copyrightMenu a {
  color: var(--white);
  margin: 0;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: 1023px) {
    color: var(--grey);
  }
}

.socialMenu {
  position: static;
  top: 1.5rem;
  right: unset;
  background: unset;
}

.socialList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.socialLink a {
  display: flex;
  margin: 0;
  width: 36px;

  @media (min-width: 1023px) {
    width: unset;
  }
}

.navbarSub {
  position: absolute;
}
