.footerNav {
  background: var(--green);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-radius: 1rem;

  @media (min-width: 768px) {
    position: static;
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menuNav {
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  display: flex;

  li {
    display: inline-flex;
  }
}

.copyright {
  background-color: var(--green-soft);

  @media (min-width: 768px) {
    background-color: unset;
  }
}

.copyrightMenu {
  text-transform: lowercase;
  color: var(--white);
  text-align: center;

  @media (min-width: 768px) {
    color: var(--grey-soft);
  }
}

.copyrightMenu a {
  color: var(--white);
  margin: 0;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    color: var(--grey-soft);
  }
}
