.footer {
  background: var(--green);
  text-align: center;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}
.copyright {
  background: var(--white);
}

.copyrightMenu {
  text-transform: lowercase;
  color: var(--grey-soft);
  text-align: center;

  a {
    color: var(--grey-soft);
    margin: 0;
  }
}
