//
// Buttons
//

.btn {
  font-weight: 700;
  border-width: 2px;
  border-radius: 55px;
  border-color: transparent;
  padding: 0.5rem 2rem;

  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 1;
    padding: 1rem 2.5rem;
  }
}

.btn.btn-primary {
  background: var(--green);
  border-color: var(--green);
  color: var(--white);
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
}

.btn.btn-secondary {
  background: var(--white);
  border-color: var(--green);
  color: var(--green);
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
  }
}

.btn.btn-link {
  padding: 0;
  color: var(--grey);
  text-decoration: none;
}

.btn__icon {
  margin-left: 0.5rem;
}

.btn.btn-disable {
  background: var(--grey);
  border: unset;
  color: var(--white);

  &:focus,
  &:hover {
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--white);
    cursor: not-allowed;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
}

.btn--small {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.btn--clear {
  padding: 0;
  margin: 0;
  font-weight: unset;
  font-size: 1rem;
  border: none;
  display: inline-block;
  border: none;
  border-radius: 0;
}
