//
// Buttons
//

.btn {
  font-weight: 700;
  border-width: 2px;
  border-radius: 55px;
  border-color: transparent;
  padding: 0.5rem 2rem;
  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 1;
    padding: 1rem 2.5rem;
  }
}

.btn-primary {
  background: var(--green);
  border-color: var(--green);
  color: var(--white);
  &:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
  }
}

.btn-secondary {
  background: var(--white);
  border-color: var(--green);
  color: var(--green);
  &:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
  }
}
