.card {
  border: unset;
  font-weight: 200;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1.5rem;
  p {
    margin: 0;
  }
}

.card-img-top {
  background-color: var(--grey-neutral);
  height: 250px;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  div {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 250px;
    object-fit: cover;
  }
}

.card-img-top--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  div {
    width: 250px;
    height: 100px;
  }
}
