.card {
  border: unset;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: transform 0.15s ease-in-out;
  height: 100%;

  &:hover {
    transform: scale(1.02);
  }
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-weight: 700;
  padding-bottom: 0;
}

.card a.card-link {
  color: var(--black);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 200;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1.5rem;
  p {
    margin: 0;
  }
}

.card-img-top {
  background-color: var(--grey-neutral);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;

  div {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 250px;
    object-fit: cover;
  }
}

.card-img-top--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  div {
    width: 250px;
    height: 100px;
  }
}

.card .link-more {
  display: none;
}

// BUSINESS CARD
// =======================

.card--business {
  border-radius: 0;
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 1rem;

  @media (min-width: 768px) {
    text-align: unset;
  }

  .card-body {
    padding: 0;
    gap: 1rem;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  .card-title {
    margin: 0;
    font-size: 1.2rem;
    padding: 0;
  }

  .card-img-top {
    background-color: unset;
    position: relative;
    margin-bottom: 1rem;
    min-width: 320px;
    max-width: 320px;
    height: 120px;
    border-radius: unset;

    img {
      object-fit: contain;
    }

    @media (min-width: 768px) {
      min-width: 150px;
      max-width: 150px;
      height: unset;
      margin-bottom: unset;
    }
  }

  .card-social {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    @media (min-width: 768px) {
      justify-content: unset;
    }
  }

  .card-icon {
    fill: var(--green);
  }

  .card-footer {
    background: none;
    border: none;
    padding: 0;
  }
}
