body {
  font-family: var(--main-font);

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}
a {
  color: var(--green);

  &:hover {
    color: var(--green);
  }

  &:focus {
    transition: all 0.3s ease-in-out;
    outline-color: var(--green);
    box-shadow: none;
  }
}

section {
  padding: 4rem 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

blockquote {
  border-left: solid 0.25rem var(--green);
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 2rem 4rem 3rem 4rem;
  font-style: italic;
  color: var(--grey);

  cite {
    font-size: 0.9rem;
    color: var(--green);
  }
}

table {
  border: solid 1px var(--grey);
  width: 100%;
  th,
  tr,
  td {
    border: solid 1px var(--grey-soft);
    padding: 0.5rem;
  }
  thead,
  tfoot {
    background-color: var(--grey-clear);
  }
}

.skip-link {
  position: absolute;
  top: -140px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
