.wp-block-gallery {
  .blocks-gallery-grid {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: var(--spacing-2);
  }

  @media (min-width: 750px) {
    .blocks-gallery-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    &.columns-2 .blocks-gallery-grid {
      grid-template-columns: 1fr 1fr;
    }
    &.columns-3 .blocks-gallery-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.columns-4 .blocks-gallery-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.columns-5 .blocks-gallery-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.columns-6 .blocks-gallery-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.columns-7 .blocks-gallery-grid {
      width: 14.28571%;
    }
    &.columns-8 .blocks-gallery-grid {
      width: 12.5%;
    }
  }
}
