//
// Typography
//

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
  text-align: center;

  &::after {
    display: block;
    height: 2px;
    content: '';
    width: 70px;
    background-color: var(--black);
    margin: 1rem auto 1.5rem auto;

    @media (min-width: 768px) {
      width: 100px;
      margin: 2rem auto;
    }
  }

  @media (min-width: 768px) {
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: unset;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem 0 1rem 0;

  &::after {
    display: block;
    height: 2px;
    content: '';
    width: 100px;
    background-color: var(--black);
    margin: 1rem auto;
  }

  @media (min-width: 768px) {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
}
