//
// Utils
//
.rounded {
  border-radius: var(--border-radius);
}

.has-text-align-center {
  text-align: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
