//
// Utils
//

.hidden {
  display: none;
}

.rounded {
  border-radius: var(--border-radius);
}

.has-text-align-center {
  text-align: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid--nogap {
  gap: none;
}

@media (min-width: 768px) {
  .grid-1 {
    grid-template-columns: 1fr;
  }
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gap {
  gap: 1rem;

  &--1 {
    gap: 1rem;
  }

  &--2 {
    gap: 2rem;
  }
}

// Image

.brinca-image {
  overflow: hidden;
  object-fit: cover;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  margin: 0;
  padding: 0;
}
