.figure {
  position: relative;

  div {
    border-radius: var(--boder-radius) !important;
    box-shadow: var(--shadow);
  }

  .figure-caption {
    position: absolute;
    bottom: 7px;
    width: 100%;
    padding: 5rem 1rem 1rem 1rem;
    color: var(--white);
    border-bottom-left-radius: var(--boder-radius) !important;
    border-bottom-right-radius: var(--boder-radius) !important;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
